<h1>StaticPages#team</h1>
<p>Find me in app/views/static_pages/team.html.erb</p>
<h2> Page Team Recapés</h2>
<%# <h2> Welcome <%= @user_id.first_name%> </h2> 
<div class="container row mt-5">
  <div class="card text-dark bg-warning mx-auto" style="max-width: 18rem;">
    <h5 class="card-header">Florent</h5>
    <div class="card-body">
      <p class="card-text">Ce virtuose avait l'art de décaler les sons.</p>
    </div>
  </div>
  <div class="card text-dark bg-info mx-auto" style="max-width: 18rem;">
    <h5 class="card-header">Antoine</h5>
    <div class="card-body">
      
      <p class="card-text">Il faudrait couper les nouilles au sécateur.</p>
    </div>
  </div>  
</div>