<h1>Gossip#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>

<h3> Titre :  <%= @gossip.title%> </h3> 
<div class="card mx-auto mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.title%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @gossip.user.first_name%></h6>
    <p class="card-text"><%= @gossip.content%></p>
  </div>
</div>